*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../../../../public/images/fond-ecran.jpg");
    // background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*--------------------------------*/

.text-column{
    width: 300px;
}


.task-width{
    min-width: 450px;
    // width: fit-content;
}


.step{
    width: 100%;
    background-color: lightgray;
    margin: .5rem 0;
}

.sizing {
        font-size: 1.4rem;
}
    
// ----- colors -----
    .color-red{
        color: red;
}

.color-blue{
    color: blue;
}

.color-green{
    color: green;
}

// -------------

.bg-green{
    background-color: greenyellow;
}